html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #001f3f;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #001f3f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .navbar {
        padding: 10px 20px;
    }

    .menu li {
        margin: 0 10px;
    }

    .btn {
        padding: 10px 20px;
    }
}